*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.toolbox-cont{
    height: 5rem;
    background-color: black;
    display: flex;
    align-items: center;
}

.toolbox-priority-cont{
    height: 3rem;
    background-color: aliceblue;
    width: 20rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.color{
    height: 2rem;
    width: 4rem;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.black{
    background-color: black;
}

.action-btn-cont{
    height: 3rem;
    background-color: aliceblue;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

.add-btn{
    
}

.rmv-btn{

}


.modal-cont{
    height: 40vh;
    width: 40vw;
    border: 2px solid grey;
    display: none;
    position: absolute;
    top: 25vh;
    left: 30vw;
}


.textarea-cont{
    width: 75%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 30px;
    resize: none;
    padding: 20px;
}

.priority-color-cont{
    background-color: rgb(162, 224, 162);
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-left:  2px solid grey;
}
 
.priority-color{
    height: 3rem;
    width: 4rem;
    
}


.main-cont{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
}

.ticket-cont{
    height: 10rem;
    width: 15rem;
    background-color: grey;
    position: relative;
    box-shadow: 5px 5px 10px 5px rgba(142, 141, 141, 0.886);
    border-radius: 10px;
}

.ticket-color{
    height: 0.8rem;
    border-radius: 10px 10px 0 0;
    
}

.ticket-id{
    height: 1.25rem;
    background-color: azure;
    padding-left: 10px;
    padding-top:3px;
    font-size: 0.8rem;
}


.ticket-area{
    height: 7.75rem;
    padding: 5px;
    font-size: 1.25rem;
    
}

.lock-unlock{
    position: absolute;
    bottom: 2px;
    right: 5px;
    font-size: 20px;
}

.active{
    border: 5px solid yellow;
}